.perfil-usuario .contenedor-perfil{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.perfil-usuario .portada-perfil{
    display: block;
    background-image: url('/images/gato.jpg');
    position: relative;
    height: 20rem;
    border-radius: 0 0 12px 12px;
}

.img{
    height: 80px;
    width: 80px;
}

.perfil-usuario .avatar-perfil{
    display: block;
    width: 230px;
    height: 230px;
    background-color: aliceblue;
    position: absolute;
    bottom: -50px;
    left: 4rem;
    border-radius: 50%;
    overflow: hidden;
    border: 8px solid #FFFFFF;
    box-shadow: 0 0 12px 2px rgba(0,0,0,-2);

}